@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');


/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #2E323F;
    text-align: center;
    padding: 2em 0 2em 0;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav {
    margin-top: 4em;
    visibility: hidden;
    height: 0;
    position: absolute;
    
} 


.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
   
}

.nav__link {
    text-decoration: none;
     color: #FFFFFF;
}

.nav__link--button {
    display: inline-block;
    background: #A59678;
    padding: .2em 1em;
    border-radius: 100px;

}


.nav__list {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 1rem;
}

.nav__list--primary {
    margin-bottom: 2em;
}




.hamburger {
    display: block;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    color: #fff;
    background-color: #101010;
    margin: 5px;
}
/* image */
img {
    max-width: 100%;
    margin-top: 0.5em;
}


/* section one */

.section-one {
    background-color: #3B4050;
}

.intro__title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
    line-height: 1;
    color: #FFFFFF;
    padding-top: 1em;
}

.intro__title span {
    color: #A59678;
}

.intro__text {
    margin-top: 2em;
    line-height: 1.5
}

.intro__text--desc {
    color: #fff;
    margin-bottom: 2em;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #A59678;
    color: #FFFFFF;
    padding: .5em 1.5em;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 2em;
}


/* section-two */

.section-two {
    background-color: grey;
}

.section-two__card {
    padding-top: 2em;
}

.section-two__title {
    color: #A59678;
    margin-bottom: .5em;
    font-family: 'Oswald', sans-serif;
}

.section-two__text {
    color: #FFFFFF;
}

.section-two {
    padding-bottom: 2em;
}

/* section-three */

.section-three__title {
    padding-top: 1em;
    color: #A59678;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    line-height: 1.1
}

.section-three__text {
    margin-top: 1em;
    padding-bottom: 2em;
    font-size: 0.9rem;
    color: #000;
}

.card {
    background-color: #2E323F;
    margin-bottom: 2em;
    padding: 1.5em;
    text-align: center;
    font-size: 1rem;
    color: #FFFFFF;
}

.section-three__card--title {
    margin-bottom: .5em;
    font-family: 'Oswald', sans-serif;
}

/* section-four */

.section-four {
    background-color: #2E323F;
    padding: .5em 0 2em;
}

.section-four__title {
    padding-top: 2em;
    text-align: center;
    color: #FFFF;
    font-family: 'Oswald', sans-serif;
}

.footer {
    margin-top: 2em;
}

.about__text {
    font-size: .8rem;
    margin-top: 1em;
    color: #ffff;
    line-height: 1.5
}

.list {
    margin-top: 2em;
}

.about__list-item {
    list-style: none;
    color:#FFFFFF;
    margin-bottom: 3em;
    font-size: .8em;
}

.about__desc {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    color: #A59678;
}

@media (min-width: 700px) {
    .nav {
        margin: 0em;
        padding: 0em;
        visibility: visible;
        height: 0;
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
        
    } 

    .nav--visibility {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .nav__list--primary {
        display: flex;
        gap: 2em;
        margin: 0em;
        padding: 0em;
    }
    .nav__list--secondary {
        display: flex;
        align-items: center;
        margin: 0em;
        padding: 0em;
        gap: 2em;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro__title {
        padding: 2em 0 2em;
        font-size: 3.5rem;
        width: 80%;
    }

    .intro__text {
        margin-top: 4em;
        font-size: 1.2rem;
    }

    /* section two */

    .section-two {
        padding: 5em 0 5em;
    }
    .flex--section-two {
        text-align: center;
        gap: 2.5em;
        line-height: 1.1
    }

    .section-two__title {
        font-size: 2rem;
    }

    .section-two__text {
        line-height: 1.6;
        font-size: 1.1rem
    }

    /* section-three */
    .section-three__title {
        font-size: 2em;
    }

    .section-three__text {
        font-size: 1.2em;
    }

    .section-three__card {
        display: flex;
        gap: 2em;
    }

    .card {
        line-height: 1.5;
        font-size: .9rem;
    }
    .footer {
        display: flex;
        gap: 5em;
    }
    .about {
        width: 40%;
    }
    .about__desc {
        font-size: 1em
    }

}

@media (min-width: 1000px) {
    .section-three {
        padding-top: 5em;
        padding-bottom: 3em;
    }

    .section-three__title {
        font-size: 3em;
    }

    .section-three__text {
        font-size: 1.3em;
    }
    .section-three--flex {
        display: flex;
        gap: 4em;
    }

    .section-three__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0em;
    }
}